:root {
    --black: #111;
    --white: #fff;
    --textColor: #747575;
    --btnColor: #664EFC;
    --transition: all .3s ease;
    --fontPoppins: 'Poppins', sans-serif;
    --box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
    background: var(--white);
    font-family: var(--fontPoppins);
	overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5{
    color: var(--black);
    font-weight: 700;
}

ul,
ol,
li {
    list-style: none;
}

p {
    color: var(--textColor);
}

img {
    width: 100%;
    height: auto;
}

section {
    margin: 4rem 0;
}

.container {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.btn a{
    color: var(--white);
    background-color: var(--btnColor);
    padding: 1rem 1.4rem;
    border-radius: .2rem;
    border: 2px solid var(--btnColor);
    transition: var(--transition);
}

.btn span{
    font-weight: 300;
}

.btn a:hover {
    background-color: transparent;
    color: var(--btnColor);
}

@media only screen and (max-width:1280px) {
container {
    width: 95%;
}
}

/* ----------------------NAVBAR SECTION STYLING---------------------- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%); 
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
    background-color: transparent;
    backdrop-filter: blur(30px);

    padding: 1rem 0;
    width: 100%;
    z-index: 999;
    transition: var(--transition);
}

.navbar.shadow {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_items .nav_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.nav_items .nav_link a {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.604);
    border: 1px solid gray;
    border-radius: 6px;
    padding: .6rem .8rem;
}



/* ----------------------HERO SECTION STYLING---------------------- */

.contact {
    position: relative;
    background: linear-gradient(151deg, rgba(255, 250, 254, 1) 0%, rgba(255, 245, 255, 1) 50%, rgba(255, 252, 255, 1) 100%);
}

.contact_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 6rem 0;
    height: 100vh;
}

.contact_info .contact_title{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.contact .contact_info {
    max-width: 450px;
}

.contact_info .contact_info_list .list_item{
    display: inline-flex;
    padding-bottom: 2rem;
    gap: 1.2rem;
}

.contact_info .contact_info_list .list_item i{
    font-size: 2rem;
    color: var(--btnColor);
}

.contact_info .contact_info_list .list_item .item_text{
    font-weight: 300;
}

.contact_info .contact_info_list .list_item .item_text span{
    font-weight: 600;
    color: var(--black);
}

.contact .contact_account {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-color: var(--white);
    max-width: 600px;
    width: 100%;
    height: max-content;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.contact .contact_account .contact_account-title {
    margin-bottom: 2rem;
}

.contact .contact_account label {
    margin-bottom: .3rem;
}
.contact .contact_account input {
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    outline-color: var(--btnColor);
}

.contact .contact_account input ::placeholder {
    font-size: 1rem;
}

.contact .contact_account .contact_accout-btn  {
    padding: 1rem 1.4rem;
    border-radius: .2rem;
    border: 2px solid var(--btnColor);
    transition: var(--transition);
    width: 100%;
    background-color: var(--btnColor);
    text-align: center;
    color: var(--white);
    font-size: 1rem;
    margin-top: 2rem;
    transition: var(--transition);
}

.contact .contact_account .contact_accout-btn:hover {
    background-color: transparent;
    color: var(--btnColor);
}


/* ----------------------MEDIA QUERIES---------------------- */
@media only screen and (max-width:1280px) {
.contact_wrapper{
    flex-direction: column;
    padding: 9rem 0;
}

.contact .contact_info {
    max-width: 500px;
}
}

@media screen and (max-width: 500px){
.contact .contact_info {
    max-width: 100%;
}

.contact .contact_account {
    margin-bottom: 6rem;
}
}



