:root {
    --black: #111;
    --white: #fff;
    --textColor: #747575;
    --btnColor: #664EFC;
    --transition: all .3s ease;
    --fontPoppins: 'Poppins', sans-serif;
    --box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
    background: var(--white);
    font-family: var(--fontPoppins);
	overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5{
    color: var(--black);
    font-weight: 700;
}

ul,
ol,
li {
    list-style: none;
}

p {
    color: var(--textColor);
}

img {
    width: 100%;
    height: auto;
}

section {
    margin: 4rem 0;
}

.container {
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.btn a{
    color: var(--white);
    background-color: var(--btnColor);
    padding: 1rem 1.4rem;
    border-radius: .2rem;
    border: 2px solid var(--btnColor);
    transition: var(--transition);
}

.btn span{
    font-weight: 300;
}

.btn a:hover {
    background-color: transparent;
    color: var(--btnColor);
}

@media only screen and (max-width:1280px) {
container {
    width: 95%;
}
}

/* ----------------------NAVBAR SECTION STYLING---------------------- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%); 
    -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%)
    brightness(140%);
    background-color: transparent;
    backdrop-filter: blur(30px);

    padding: 1rem 0;
    width: 100%;
    z-index: 999;
    transition: var(--transition);
}

.navbar.shadow {
    background-color: var(--white);
    box-shadow: var(--box-shadow);
}

.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_items .nav_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.nav_items .nav_link a {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.604);
    border: 1px solid gray;
    border-radius: 6px;
    padding: .6rem .8rem;
}



/* ----------------------HERO SECTION STYLING---------------------- */

.contact {
    position: relative;
    background: linear-gradient(151deg, rgba(255, 250, 254, 1) 0%, rgba(255, 245, 255, 1) 50%, rgba(255, 252, 255, 1) 100%);
}

.hero_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6rem 0;
    height: 100%;
}

.hero_info .hero_title{
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
}

.hero_info .hero_text{
    font-weight: 300;
    padding-bottom: 3rem;
}

.hero_info .hero_users {
    padding-top: 3rem;
}

.hero_info .hero_users .users_img {
    max-width: 200px;
}

.hero_info .hero_users p {
    font-weight: 300;
    padding-top: .6rem;
}

.hero_info .hero_users p span {
    font-weight: 500;
    color: var(--btnColor);
}

.hero_img {
    max-width: 600px;
}





/* ----------------------MEDIA QUERIES---------------------- */
@media only screen and (max-width:1280px) {
.hero_wrapper {
    gap: 2rem;
    padding: 7rem 0;
}

    .hero_info .hero_title {
    font-size: 2.5rem;
    line-height: 3rem;
}
}

@media only screen and (max-width:960px) {
.hero_wrapper {
    flex-direction: column-reverse;
    gap: 2rem;
}

.hero_info .hero_title {
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 1rem 0;
}

.hero_info .hero_text,
.hero_info .hero_users {
    padding-bottom: 2rem;
}

.hero_info .hero_users .users_img {
    max-width: 190px;
}

.hero_img {
    max-width: 400px;
}

.footer .footer_wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
}
}

@media screen and (max-width:768px) {


.blog_wrapper{
    flex-direction: column-reverse;
    gap: 2rem;
}

.customer_wrapper {
    flex-direction: column;
}

.footer .footer_wrapper {
    display: grid;
    grid-template-columns: 100%;
}
}

@media screen and (max-width: 500px){
.btn a{
    padding: 1rem 1rem;
}

.hero_info .hero_title {
    font-size: 2rem;
}

.hero_info,
.blog_info,
.customer_info,
.footer_info{
    max-width: 100%;
}
}



